html, body {
	margin: 0;
}

@media (max-width: 768px) {
	html, body {
		font-size: 10px;
	}
}

@media (max-width: 992px) {
	html, body {
		font-size: 12px;
	}
}

.fullWidthPadding {
	padding: 3em 15% 5em;
}
