.footer {
	background-color: $brand-black;
	padding: 0 15%;
	@include font-lato;

	.columns {
		min-height: 30vh;
	}

	&-group {
		&-link {
			color: $brand-white;

			&:hover {
			color: $brand-red;
		}
		}

		&-logo {
			width: 180px;
		}

		&-copyright {
			margin-top: 0.5em;
			color: $brand-white;
		}
	}
}
