.footer {
	background-color: $brand-black;
	@include font-lato;
	text-align: center;

	.columns {
		min-height: 30vh;
	}

	&-group {
		&-link {
			color: $brand-white;

			&:hover {
				color: $brand-red;
			}
		}

		&-logo {
			width: 180px;
		}

		&-copyright {
			margin-top: 0.5em;
			color: $brand-white;
		}
	}
}

@media (min-width: 768px) {
	.footer {
		padding: 0 15%;

		.columns {
			
		}

		&-group {
			&-link {
				

				&:hover {
					
				}
			}

			&-logo {
				
			}

			&-copyright {
				
			}
		}
	}
}