.header {
	background-color: $brand-black;
}

.navbar {
	font-size: 12px;

	&-inner {
		margin-left: 20px;
		margin-right: 20px;
	}

	&-logo {
		height: 60px;

		&-link {
			display: block;
			text-align: center;
			height: inherit;
		}

		&-image {
			margin-top: 10px;
			padding-top: 10px;
			padding-bottom: 10px;
			height: 54px;
		}
	}

	&-links {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 60px;
	}

	&-link {
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		@include font-futura;
		font-size: 1em;
		color: $brand-white;

		&:hover {
			color: $brand-red;
		}

		&:nth-of-type(n+2) {
			margin-left: 1em;
		}
	}
}

@media (min-width: 768px) {
	.navbar {
		font-size: initial;

		&-inner {
			margin-left: 10%;
			margin-right: 10%;
		}

		&-logo {
			display: inline-block;

			&-link {

			}

			&-image {
				margin-top: initial;
			}
		}

		&-links {
			float: right;
			width: initial;
		}

		&-link {
			text-align: left;
		}
	}
}