.contact {
	font-size: 1rem;
	background-color: $brand-white;
	margin-top: 5em;
	margin-left: 15%;
	margin-bottom: 5em;
	margin-right: 15%;
	min-height: 50vh;

	&-heroText {
		@include font-futura;
		font-size: 2.5em;
		font-weight: 600;
		color: $brand-black;
	}

	&-subtext {
		@include font-lato;
		font-size: 1.6em;
		color: $brand-dark-grey;
	}

	& .contactForm {

		&-inputGroup {
			display: inline-block;

			&-label {
				@include font-lato;
				margin-right: 1em;
				font-size: 1em;
				color: $brand-dark-grey;
			}

			&-textInput, &-emailInput, &-textareaInput {
				@include font-lato;
				font-size: 1em;
				color: $brand-black;
				border: 0;
				border-bottom: 0.0625em solid $brand-dark-grey;
				outline: none;
				margin-right: 2em;
				margin-bottom: 2em;
			}

			&-textInput {

			}

			&-emailInput {

			}

			&-textareaInput {
				display: block;
				min-width: 60%;
				min-height: 3em;
			}
		}

		&-inputGroup:last-of-type {
			display: block;
		}

		&-button {
				font-size: 1.2em;
				width: 200px;
			}
	}
}