.contact {

	.contact-form {

		&-inputGroup {
			display: inline-block;

			&:last-of-type {
				display: block;
			}
		}

		&-label {
			@include font-lato;
			margin-right: 1em;
			font-size: 1em;
			color: $brand-dark-grey;
		}

		&-textInput, &-emailInput, &-textareaInput {
			@include font-lato;
			font-size: 1em;
			color: $brand-black;
			border: 0;
			border-bottom: 0.0625em solid $brand-dark-grey;
			outline: none;
			margin-right: 2em;
			margin-bottom: 2em;
		}

		&-textInput {

		}

		&-emailInput {

		}

		&-textareaInput {
			display: block;
			min-width: 60%;
			min-height: 3em;
		}

		&-button {
			font-size: 1.2em;
			width: 200px;
		}
	}
}