.homepage {

	.hero {
		background: url(/img/hero-image.jpg) center center no-repeat fixed rgba(0,0,0,0.4);
		background-size: cover;
		background-attachment: scroll;
		background-blend-mode: darken;
		color: $brand-white;

		&-body {
			padding-left: 10%;
			padding-right: 15%;
		}
	}

	#explanation {

	}
}
@media (min-width: 768px) {
	.homepage {
		.hero {
			padding-left: 0;
			padding-right: 0;

			&-body {
				padding-left: initial;
				padding-right: initial;
			}
		}
	}
}