.homepage {

	.hero {
		background: url(/img/hero-image.jpg) center center no-repeat fixed rgba(0,0,0,0.4);
		background-size: cover;
		background-attachment: scroll;
		background-blend-mode: darken;
		color: $brand-white;

		.nav {
			box-shadow: none;
		}
	}

	#explanation {

	}
}