.homepage {

	.hero {
		background: url(/img/hero-image.jpg) center center no-repeat fixed rgba(0,0,0,0.4);
		@include background-size-cover;
		background-blend-mode: darken;
		color: $brand-white;

		.nav {
			box-shadow: none;
		}
	}
}